/*
폰트, 바디, 마진 초기 설정
*/

@font-face {
  font-family: "나눔";
  src: url(./NanumSquareR.woff2);
}

body {
  font-family: "나눔";
  margin: 0;
  background-color: black;
}

div,
input,
textarea {
  box-sizing: border-box;
}
